body {
    margin: 0;
    height: 99vh;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    height: 15%;
    background-color: rgb(135, 103, 72);
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    font-size: 125%;
}

.nav-link {
    color: antiquewhite;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-logo {
    width: 10%;
}

.presentation {
    display: flex;
    height: 85%;
    background-color: rgb(147, 130, 92);
}

.text-and-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-and-button > h3 {
    font-size: 500%;
}

.text-and-button > p {
    font-size: 130%;
}

.presentation > img {
    height: 75%;
    padding: 5% 5% 0 5%;
}